# Global code ownership
# This file defines who will automatically be assigned as a reviewer
# when pull requests are opened for different parts of the repository.
# For more information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repository
* @KennethHeine

# Infrastructure files require extra attention
/infra/ @KennethHeine
/.github/ @KennethHeine
/scripts/ @KennethHeine

# Frontend application
/static-web-app/ @KennethHeine